<main id="login">
    <form action="">
        <h2>Acesso</h2>
        <div>
            <label for="identification">CPF:</label>
            <input type="text" placeholder="12312312300">
        </div>
        <div>
            <label for="identification">Senha:</label>
            <input type="password" placeholder="********">
        </div>
    </form>
</main>