<nav id="admin">
    <ul>
        <li><a href="">Painel</a></li>
        <li><a href="">Serviços</a></li>
        <li><a href="">Técnicos</a></li>
        <li><a href="">Relatórios</a></li> 
    </ul>
</nav>