<div id="admin-panel">
    <div class="services">
        <div class="box-title-filter">
            <label for="tech">Serviços</label>
            <input type="date" name="service-filter" id="">
        </div>
        <div class="services-content">

        </div>
    </div>
    <div class="tech">
        <div class="box-title-filter">
            <label for="tech">Tecnicos</label>
            <input type="search" name="tech-filter" id="tech">
        </div>
        <div class="tech-content">
            
        </div>
    </div> 
    <div class="customers"><span>Serviços</span></div> 
    <div class="finance"><span>Serviços</span></div>
</div>