<main id="main-tech">
    <div id="tech-services">
    </div>
</main>

<script type="module" src="../src/modules/tech-services.js"></script>

<!-- modulo para requisicao de dados e criacao de pagina dinamica -->