/* menu */
/* Extra small devices (phones, 600px and down) */
nav ul.show-nav{
    display: flex;
    
    
}
nav div.open-close-menu-icon{
    background-image: url("../../../icones/close-menu-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
nav{
    grid-area: 1/1 / 5/6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
    z-index: 100;
}
/* icone menu */
nav .menu-icon{ 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    background-color: var(--main-color);
    border-radius: 50%;
    background-image: url("../../../icones/open-menu-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}
nav .menu-icon img{
    width: 80%;
}
/* navegcao: relatorio/historico */
nav ul{
    width: 100%;
    height: 60%; 
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
nav li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
}
nav li a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    width: 130px;
    height: 100%;
    padding: 0 10px;
    background-color: var(--main-color);
    color: var(--main-text-color);
    border-radius: 10px;
    font-size: var(--font-size-mobile);
}
nav ul li img{
    width: 20px;
    height: 20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    nav .menu-icon{
        width: 45px;
        height: 45px;
    }
    nav li a{
        font-size: var(--font-size-mobile-600dw);
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav li a{
        font-size: var(--font-size-mobile-768dw);
    }
    nav ul li img{
        width: 30px;
        height: 30px;
    } 
}
