<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <container id="grid">
        <%- include("../partials/nav-admin.ejs") %>
        <%- include("../partials/painel.ejs") %>
    </container>
    <script type="module" src="../src/modules/admin-panel.js"></script>
</body>
</html>