<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <container id="grid">
        <%- include("../partials/nav.ejs") %>
        <h1>tech</h1>
        <%- include("../partials/footer.ejs") %>
    </container>
</body>
</html>